body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.uppercontent {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding-inline: 50px;
    padding-block: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.container-upper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-inline: 50px;
    padding-block: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-shrink: 0;
    padding: 50px;
    gap: 10px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8;
    line-height: 0.9;
}

.button {
    background-color: #3882f6;
    color: white;
    width: max-content;
    padding: 5px;
    border: 2px solid #3882f6;
    border-radius: 3px;
}

button:hover {
    background-color: #214a8b;
    color: white;
    width: max-content;
    padding: 5px;
    border: 2px solid #214a8b;
    border-radius: 3px;
}

.titleimage {
    height: 350px;
    width: 400px;
}

